.contact {
    border-radius: 30px;
    padding: 10px;
    width: 300px;
    margin-top: 3rem;
    background-color: #252525;
    color: white;
    font-weight: 700;
    font-size: large;
    cursor: pointer;
    text-decoration: none;
}

.parent {
    padding-top: 10rem;
    display: flex;
    justify-items: center;
    justify-content: space-between;
}

.text {
    justify-content: left;
    padding: 4rem;
    flex: 1;
    font-size: xx-large;
}

.homeT {
    text-align: left;
}

.picture {
    justify-content: center;
    width: 100%;
    flex: 1;
}

img {
    width: 45vW;
    object-fit: contain;

}